@scope (.light) {
  :scope {
    --pd-default-text: #0f0f11;
    --pd-notification-dot: #6d48bf;
    --pd-global-nav-bg: #f6f6f6;
    --pd-global-nav-bg-border: #e4e4e4;
    --pd-global-nav-icon: #5c5c5c;
    --pd-global-nav-icon-hover: #4d2d87;
    --pd-global-nav-icon-hover-bg: #bfa7f6;
    --pd-global-nav-icon-inset-bg: #e4e4e4;
    --pd-global-nav-icon-selected: #4d2d87;
    --pd-global-nav-icon-selected-bg: #e4e4e4;
    --pd-global-nav-icon-selected-highlight: #6d48bf;
    --pd-secondary-nav-bg: #f6f6f6;
    --pd-secondary-nav-header-text: #0f0f11;
    --pd-secondary-nav-text: #222222;
    --pd-secondary-nav-text-hover: #4d2d87;
    --pd-secondary-nav-text-hover-bg: #bfa7f6;
    --pd-secondary-nav-text-selected: #000;
    --pd-secondary-nav-selected-bg: #e4e4e4;
    --pd-secondary-nav-selected-highlight: #6d48bf;
    --pd-secondary-nav-expander: #222222;
    --pd-titlebar-bg: #f9fafb;
    --pd-titlebar-text: #37255d;
    --pd-titlebar-icon: #37255d;
    --pd-titlebar-windows-hover-exit-bg: #c42b1c;
    --pd-titlebar-windows-hover-bg: #dfdfdf;
    --pd-content-breadcrumb: #37255d;
    --pd-content-breadcrumb-2: #6d48bf;
    --pd-content-header: #0f0f11;
    --pd-content-text: #818181;
    --pd-content-sub-header: #37255d;
    --pd-content-header-icon: #6234b1;
    --pd-content-card-header-text: #37255d;
    --pd-content-card-bg: #fefefe;
    --pd-content-card-hover-bg: #e4e4e4;
    --pd-content-card-selected-bg: #efe9fe;
    --pd-content-card-text: #37255d;
    --pd-content-card-title: #0f0f11;
    --pd-content-card-light-title: #37255d;
    --pd-content-card-inset-bg: #d3d3f2;
    --pd-content-card-hover-inset-bg: #b9b8e9;
    --pd-content-bg: #f6f6f6;
    --pd-content-card-icon: #37255d;
    --pd-content-divider: #aaabac;
    --pd-content-card-carousel-card-bg: #efefef;
    --pd-content-card-carousel-card-hover-bg: #f6f6f6;
    --pd-content-card-carousel-card-header-text: #0f0f11;
    --pd-content-card-carousel-card-text: #36363d;
    --pd-content-card-carousel-nav: #e4e4e4;
    --pd-content-card-carousel-hover-nav: #c8c8c8;
    --pd-content-card-carousel-disabled-nav: #efefef;
    --pd-content-card-border: #efefef;
    --pd-content-card-border-selected: #6d48bf;
    --pd-invert-content-bg: #fefefe;
    --pd-invert-content-header-text: #0f0f11;
    --pd-invert-content-header2-text: #0f0f11;
    --pd-invert-content-card-bg: #f6f6f6;
    --pd-invert-content-card-header-text: #0f0f11;
    --pd-invert-content-card-text: #222222;
    --pd-invert-content-button-active: #6d48bf;
    --pd-invert-content-button-inactive: #767676;
    --pd-invert-content-info-icon: #6d48bf;
    --pd-card-bg: #e4e4e4;
    --pd-card-header-text: #0f0f11;
    --pd-card-text: #222222;
    --pd-input-field-bg: transparent;
    --pd-input-field-focused-bg: #f6f6f6;
    --pd-input-field-disabled-bg: transparent;
    --pd-input-field-hover-bg: transparent;
    --pd-input-field-focused-text: #0f0f11;
    --pd-input-field-error-text: #f86847;
    --pd-input-field-disabled-text: #aaabac;
    --pd-input-field-hover-text: #5c5c5c;
    --pd-input-field-placeholder-text: #5c5c5c;
    --pd-input-field-stroke: #aaabac;
    --pd-input-field-hover-stroke: #8b5cf6;
    --pd-input-field-stroke-error: #f86847;
    --pd-input-field-stroke-readonly: #707073;
    --pd-input-field-icon: #5c5c5c;
    --pd-input-field-focused-icon: #6d48bf;
    --pd-input-field-disabled-icon: #aaabac;
    --pd-input-field-hover-icon: #6d48bf;
    --pd-input-checkbox-disabled: #5c5c5c;
    --pd-input-checkbox-indeterminate: #37255d;
    --pd-input-checkbox-focused-indeterminate: #6234b1;
    --pd-input-checkbox-checked: #37255d;
    --pd-input-checkbox-focused-checked: #6234b1;
    --pd-input-checkbox-unchecked: #37255d;
    --pd-input-checkbox-focused-unchecked: #6234b1;
    --pd-input-toggle-off-bg: #818181;
    --pd-input-toggle-off-focused-bg: #9a9a9a;
    --pd-input-toggle-on-bg: #6d48bf;
    --pd-input-toggle-on-focused-bg: #8b5cf6;
    --pd-input-toggle-switch: #fff;
    --pd-input-toggle-focused-switch: #fff;
    --pd-input-toggle-on-text: #222222;
    --pd-input-toggle-off-text: #222222;
    --pd-input-toggle-disabled-text: #5c5c5c;
    --pd-input-toggle-off-disabled-bg: #818181;
    --pd-input-toggle-on-disabled-bg: #818181;
    --pd-input-toggle-disabled-switch: #efefef;
    --pd-table-header-text: #5c5c5c;
    --pd-table-header-unsorted: #464649;
    --pd-table-body-text: #707073;
    --pd-table-body-text-highlight: #222222;
    --pd-table-body-text-sub-secondary: #6234b1;
    --pd-table-body-text-sub-highlight: #5c5c5c;
    --pd-details-body-text: #36363d;
    --pd-details-empty-icon: #5c5c5c;
    --pd-details-empty-header: #36363d;
    --pd-details-empty-sub-header: #36363d;
    --pd-details-empty-cmdline-bg: #efefef;
    --pd-details-empty-cmdline-text: #222222;
    --pd-details-bg: #f9fafb;
    --pd-details-card-bg: #e4e4e4;
    --pd-details-card-header: #464649;
    --pd-details-card-text: #0f0f11;
    --pd-tab-text: #5c5c5c;
    --pd-tab-text-highlight: #464649;
    --pd-tab-highlight: #6d48bf;
    --pd-tab-hover: #8b5cf6;
    --pd-modal-fade: #fff;
    --pd-modal-text: #464649;
    --pd-modal-text-hover: #4d2d87;
    --pd-modal-bg: #f9fafb;
    --pd-modal-border: #c8c8c8;
    --pd-modal-header-bg: #f6f6f6;
    --pd-modal-header-text: #8b5cf6;
    --pd-modal-header-divider: #bfa7f6;
    --pd-link: #6234b1;
    --pd-link-hover-bg: #0002;
    --pd-button-primary-bg: #6d48bf;
    --pd-button-primary-hover-bg: #8b5cf6;
    --pd-button-secondary: #6d48bf;
    --pd-button-secondary-hover: #8b5cf6;
    --pd-button-text: #fff;
    --pd-button-disabled: #b4b4b4;
    --pd-button-disabled-text: #818181;
    --pd-button-danger-border: #c13414;
    --pd-button-danger-bg: transparent;
    --pd-button-danger-text: #c13414;
    --pd-button-danger-hover-text: #fff;
    --pd-button-danger-hover-bg: #e5421d;
    --pd-button-danger-disabled-border: #818181;
    --pd-button-danger-disabled-text: #818181;
    --pd-button-danger-disabled-bg: transparent;
    --pd-button-tab-border: transparent;
    --pd-button-tab-border-selected: #6d48bf;
    --pd-button-tab-hover-border: #b4b4b4;
    --pd-button-tab-text: #5c5c5c;
    --pd-button-tab-text-selected: #000;
    --pd-button-link-text: #6234b1;
    --pd-button-link-hover-bg: #0002;
    --pd-button-help-link-text: #0f0f11;
    --pd-action-button-text: #36363d;
    --pd-action-button-bg: #d1d1d1;
    --pd-action-button-hover-bg: #f9fafb;
    --pd-action-button-hover-text: #8b5cf6;
    --pd-action-button-primary-text: #6d48bf;
    --pd-action-button-primary-hover-text: #8b5cf6;
    --pd-action-button-disabled-text: #818181;
    --pd-action-button-details-text: #0f0f11;
    --pd-action-button-details-bg: #f9fafb;
    --pd-action-button-details-hover-text: #8b5cf6;
    --pd-action-button-details-disabled-text: #818181;
    --pd-action-button-details-disabled-bg: #f9fafb;
    --pd-action-button-spinner: #8b5cf6;
    --pd-tooltip-bg: #f9fafb;
    --pd-tooltip-text: #000;
    --pd-tooltip-border: #c8c8c8;
    --pd-dropdown-bg: #f6f6f6;
    --pd-select-bg: #e4e4e4;
    --pd-dropdown-ring: #c8c8c8;
    --pd-dropdown-hover-ring: #bfa7f6;
    --pd-dropdown-divider: #f6f6f6;
    --pd-dropdown-item-text: #27272a;
    --pd-dropdown-item-hover-bg: #e4e4e4;
    --pd-dropdown-item-hover-text: #8b5cf6;
    --pd-dropdown-disabled-item-text: #707073;
    --pd-dropdown-disabled-item-bg: #efefef;
    --pd-modal-dropdown-highlight: #bfa7f6;
    --pd-modal-dropdown-text: #0f0f11;
    --pd-input-select-hover-text: #5c5c5c;
    --pd-label-bg: #e2d6fe;
    --pd-label-text: #464649;
    --pd-status-running: #2b7037;
    --pd-status-terminated: #c13414;
    --pd-status-waiting: #d97706;
    --pd-status-starting: #2b7037;
    --pd-status-stopped: #5c5c5c;
    --pd-status-exited: #5c5c5c;
    --pd-status-not-running: #818181;
    --pd-status-paused: #d97706;
    --pd-status-degraded: #b45309;
    --pd-status-created: #8ec792;
    --pd-status-dead: #c13414;
    --pd-status-unknown: #d1d1d1;
    --pd-status-connected: #2b7037;
    --pd-status-disconnected: #9a9a9a;
    --pd-status-updated: #2f88c8;
    --pd-status-ready: #f6f6f6;
    --pd-status-contrast: #fff;
    --pd-statusbar-bg: #37255d;
    --pd-statusbar-hover-bg: #4d2d87;
    --pd-statusbar-text: #fff;
    --pd-onboarding-active-dot-bg: #6234b1;
    --pd-onboarding-active-dot-border: #6234b1;
    --pd-onboarding-inactive-dot-bg: transparent;
    --pd-onboarding-inactive-dot-border: #aaabac;
    --pd-state-success: #2b7037;
    --pd-state-warning: #d97706;
    --pd-state-error: #e5421d;
    --pd-state-info: #6d48bf;
    --pd-files-hidden: #f86847;
    --pd-files-directory: #2f88c8;
    --pd-files-symlink: #90c3e9;
    --pd-files-executable: #3c8d47;
    --pd-terminal-foreground: #000;
    --pd-terminal-background: #fff;
    --pd-terminal-cursor: #000;
    --pd-terminal-selectionBackground: #000;
    --pd-terminal-selectionForeground: #fff;
    --pd-terminal-ansiBlack: #000;
    --pd-terminal-ansiRed: #f86847;
    --pd-terminal-ansiGreen: #3c8d47;
    --pd-terminal-ansiYellow: #f59e0b;
    --pd-terminal-ansiBlue: #2f88c8;
    --pd-terminal-ansiMagenta: #8b5cf6;
    --pd-terminal-ansiCyan: #2f88c8;
    --pd-terminal-ansiWhite: #fff;
    --pd-terminal-ansiBrightBlack: #c8c8c8;
    --pd-terminal-ansiBrightRed: #e5421d;
    --pd-terminal-ansiBrightGreen: #2b7037;
    --pd-terminal-ansiBrightYellow: #d97706;
    --pd-terminal-ansiBrightBlue: #206ca9;
    --pd-terminal-ansiBrightMagenta: #6d48bf;
    --pd-terminal-ansiBrightCyan: #206ca9;
    --pd-terminal-ansiBrightWhite: #fff;
  }
}

@scope (.dark) {
  :scope {
    --pd-default-text: #fff;
    --pd-notification-dot: #8b5cf6;
    --pd-global-nav-bg: #27272a;
    --pd-global-nav-bg-border: #36363d;
    --pd-global-nav-icon: #b4b4b4;
    --pd-global-nav-icon-hover: #fff;
    --pd-global-nav-icon-hover-bg: #6234b1;
    --pd-global-nav-icon-inset-bg: #18181b;
    --pd-global-nav-icon-selected: #fff;
    --pd-global-nav-icon-selected-bg: #36363d;
    --pd-global-nav-icon-selected-highlight: #8b5cf6;
    --pd-secondary-nav-bg: #222222;
    --pd-secondary-nav-header-text: #fff;
    --pd-secondary-nav-text: #e4e4e4;
    --pd-secondary-nav-text-hover: #fff;
    --pd-secondary-nav-text-hover-bg: #6234b1;
    --pd-secondary-nav-text-selected: #fff;
    --pd-secondary-nav-selected-bg: #36363d;
    --pd-secondary-nav-selected-highlight: #8b5cf6;
    --pd-secondary-nav-expander: #fff;
    --pd-titlebar-bg: #0f0f11;
    --pd-titlebar-text: #fff;
    --pd-titlebar-icon: #fff;
    --pd-titlebar-windows-hover-exit-bg: #c42b1c;
    --pd-titlebar-windows-hover-bg: #2d2d2d;
    --pd-content-breadcrumb: #b4b4b4;
    --pd-content-breadcrumb-2: #ad8bfa;
    --pd-content-header: #fff;
    --pd-content-text: #aaabac;
    --pd-content-sub-header: #818181;
    --pd-content-header-icon: #b4b4b4;
    --pd-content-card-header-text: #f6f6f6;
    --pd-content-card-bg: #18181b;
    --pd-content-card-hover-bg: #36363d;
    --pd-content-card-selected-bg: #4a4b4f;
    --pd-content-card-text: #d1d1d1;
    --pd-content-card-title: #d1d1d1;
    --pd-content-card-light-title: #9a9a9a;
    --pd-content-card-inset-bg: #0f0f11;
    --pd-content-card-hover-inset-bg: #222222;
    --pd-content-bg: #222222;
    --pd-content-card-icon: #d1d1d1;
    --pd-content-divider: #4a4b4f;
    --pd-content-card-carousel-card-bg: #27272a;
    --pd-content-card-carousel-card-hover-bg: #36363d;
    --pd-content-card-carousel-card-header-text: #f6f6f6;
    --pd-content-card-carousel-card-text: #d1d1d1;
    --pd-content-card-carousel-nav: #9a9a9a;
    --pd-content-card-carousel-hover-nav: #b4b4b4;
    --pd-content-card-carousel-disabled-nav: #222222;
    --pd-content-card-border: #222222;
    --pd-content-card-border-selected: #6d57ab;
    --pd-invert-content-bg: #18181b;
    --pd-invert-content-header-text: #fff;
    --pd-invert-content-header2-text: #fff;
    --pd-invert-content-card-bg: #27272a;
    --pd-invert-content-card-header-text: #fff;
    --pd-invert-content-card-text: #e4e4e4;
    --pd-invert-content-button-active: #8b5cf6;
    --pd-invert-content-button-inactive: #767676;
    --pd-invert-content-info-icon: #8b5cf6;
    --pd-card-bg: #18181b;
    --pd-card-header-text: #fff;
    --pd-card-text: #e4e4e4;
    --pd-input-field-bg: transparent;
    --pd-input-field-focused-bg: #0f0f11;
    --pd-input-field-disabled-bg: transparent;
    --pd-input-field-hover-bg: transparent;
    --pd-input-field-focused-text: #fff;
    --pd-input-field-error-text: #f86847;
    --pd-input-field-disabled-text: #707073;
    --pd-input-field-hover-text: #aaabac;
    --pd-input-field-placeholder-text: #aaabac;
    --pd-input-field-stroke: #4a4b4f;
    --pd-input-field-hover-stroke: #ad8bfa;
    --pd-input-field-stroke-error: #f86847;
    --pd-input-field-stroke-readonly: #707073;
    --pd-input-field-icon: #aaabac;
    --pd-input-field-focused-icon: #c8c8c8;
    --pd-input-field-disabled-icon: #707073;
    --pd-input-field-hover-icon: #aaabac;
    --pd-input-checkbox-disabled: #aaabac;
    --pd-input-checkbox-indeterminate: #8b5cf6;
    --pd-input-checkbox-focused-indeterminate: #ad8bfa;
    --pd-input-checkbox-checked: #8b5cf6;
    --pd-input-checkbox-focused-checked: #ad8bfa;
    --pd-input-checkbox-unchecked: #d1d1d1;
    --pd-input-checkbox-focused-unchecked: #ad8bfa;
    --pd-input-toggle-off-bg: #818181;
    --pd-input-toggle-off-focused-bg: #9a9a9a;
    --pd-input-toggle-on-bg: #8b5cf6;
    --pd-input-toggle-on-focused-bg: #ad8bfa;
    --pd-input-toggle-switch: #fff;
    --pd-input-toggle-focused-switch: #fff;
    --pd-input-toggle-on-text: #e4e4e4;
    --pd-input-toggle-off-text: #e4e4e4;
    --pd-input-toggle-disabled-text: #aaabac;
    --pd-input-toggle-off-disabled-bg: #0f0f11;
    --pd-input-toggle-on-disabled-bg: #0f0f11;
    --pd-input-toggle-disabled-switch: #efefef;
    --pd-table-header-text: #b4b4b4;
    --pd-table-header-unsorted: #5c5c5c;
    --pd-table-body-text: #aaabac;
    --pd-table-body-text-highlight: #e4e4e4;
    --pd-table-body-text-sub-secondary: #ad8bfa;
    --pd-table-body-text-sub-highlight: #d1d1d1;
    --pd-details-body-text: #efefef;
    --pd-details-empty-icon: #b4b4b4;
    --pd-details-empty-header: #efefef;
    --pd-details-empty-sub-header: #b4b4b4;
    --pd-details-empty-cmdline-bg: #0f0f11;
    --pd-details-empty-cmdline-text: #d1d1d1;
    --pd-details-bg: #0f0f11;
    --pd-details-card-bg: #27272a;
    --pd-details-card-header: #aaabac;
    --pd-details-card-text: #fff;
    --pd-tab-text: #b4b4b4;
    --pd-tab-text-highlight: #fff;
    --pd-tab-highlight: #8b5cf6;
    --pd-tab-hover: #ad8bfa;
    --pd-modal-fade: #000;
    --pd-modal-text: #c8c8c8;
    --pd-modal-text-hover: #e4e4e4;
    --pd-modal-bg: #18181b;
    --pd-modal-border: #36363d;
    --pd-modal-header-bg: #000;
    --pd-modal-header-text: #d1d1d1;
    --pd-modal-header-divider: #6234b1;
    --pd-link: #ad8bfa;
    --pd-link-hover-bg: #fff2;
    --pd-button-primary-bg: #6d48bf;
    --pd-button-primary-hover-bg: #8b5cf6;
    --pd-button-secondary: #efefef;
    --pd-button-secondary-hover: #8b5cf6;
    --pd-button-text: #fff;
    --pd-button-disabled: #464649;
    --pd-button-disabled-text: #767676;
    --pd-button-danger-border: #f86847;
    --pd-button-danger-bg: transparent;
    --pd-button-danger-text: #f86847;
    --pd-button-danger-hover-text: #fff;
    --pd-button-danger-hover-bg: #e5421d;
    --pd-button-danger-disabled-border: #767676;
    --pd-button-danger-disabled-text: #767676;
    --pd-button-danger-disabled-bg: transparent;
    --pd-button-tab-border: transparent;
    --pd-button-tab-border-selected: #8b5cf6;
    --pd-button-tab-hover-border: #707073;
    --pd-button-tab-text: #b4b4b4;
    --pd-button-tab-text-selected: #fff;
    --pd-button-link-text: #ad8bfa;
    --pd-button-link-hover-bg: #fff2;
    --pd-button-help-link-text: #f6f6f6;
    --pd-action-button-text: #d1d1d1;
    --pd-action-button-bg: #0f0f11;
    --pd-action-button-hover-bg: #27272a;
    --pd-action-button-hover-text: #6d48bf;
    --pd-action-button-primary-text: #6d48bf;
    --pd-action-button-primary-hover-text: #8b5cf6;
    --pd-action-button-disabled-text: #818181;
    --pd-action-button-details-text: #d1d1d1;
    --pd-action-button-details-bg: #18181b;
    --pd-action-button-details-hover-text: #6d48bf;
    --pd-action-button-details-disabled-text: #818181;
    --pd-action-button-details-disabled-bg: #18181b;
    --pd-action-button-spinner: #8b5cf6;
    --pd-tooltip-bg: #18181b;
    --pd-tooltip-text: #fff;
    --pd-tooltip-border: #36363d;
    --pd-dropdown-bg: #27272a;
    --pd-select-bg: #18181b;
    --pd-dropdown-ring: #37255d;
    --pd-dropdown-hover-ring: #6234b1;
    --pd-dropdown-divider: #27272a;
    --pd-dropdown-item-text: #d1d1d1;
    --pd-dropdown-item-hover-bg: #000;
    --pd-dropdown-item-hover-text: #8b5cf6;
    --pd-dropdown-disabled-item-text: #818181;
    --pd-dropdown-disabled-item-bg: #18181b;
    --pd-modal-dropdown-highlight: #6d48bf;
    --pd-modal-dropdown-text: #fff;
    --pd-input-select-hover-text: #818181;
    --pd-label-bg: #36363d;
    --pd-label-text: #c8c8c8;
    --pd-status-running: #3c8d47;
    --pd-status-terminated: #f86847;
    --pd-status-waiting: #d97706;
    --pd-status-starting: #3c8d47;
    --pd-status-stopped: #818181;
    --pd-status-exited: #818181;
    --pd-status-not-running: #aaabac;
    --pd-status-paused: #d97706;
    --pd-status-degraded: #b45309;
    --pd-status-created: #8ec792;
    --pd-status-dead: #f86847;
    --pd-status-unknown: #f6f6f6;
    --pd-status-connected: #2b7037;
    --pd-status-disconnected: #c8c8c8;
    --pd-status-updated: #2f88c8;
    --pd-status-ready: #818181;
    --pd-status-contrast: #fff;
    --pd-statusbar-bg: #37255d;
    --pd-statusbar-hover-bg: #4d2d87;
    --pd-statusbar-text: #fff;
    --pd-onboarding-active-dot-bg: #6234b1;
    --pd-onboarding-active-dot-border: #6234b1;
    --pd-onboarding-inactive-dot-bg: transparent;
    --pd-onboarding-inactive-dot-border: #aaabac;
    --pd-state-success: #3c8d47;
    --pd-state-warning: #f59e0b;
    --pd-state-error: #f86847;
    --pd-state-info: #8b5cf6;
    --pd-files-hidden: #f86847;
    --pd-files-directory: #2f88c8;
    --pd-files-symlink: #90c3e9;
    --pd-files-executable: #3c8d47;
    --pd-terminal-foreground: #fff;
    --pd-terminal-background: #000;
    --pd-terminal-cursor: #fff;
    --pd-terminal-selectionBackground: #fff;
    --pd-terminal-selectionForeground: #000;
    --pd-terminal-ansiBlack: #000;
    --pd-terminal-ansiRed: #f86847;
    --pd-terminal-ansiGreen: #3c8d47;
    --pd-terminal-ansiYellow: #f59e0b;
    --pd-terminal-ansiBlue: #2f88c8;
    --pd-terminal-ansiMagenta: #8b5cf6;
    --pd-terminal-ansiCyan: #2f88c8;
    --pd-terminal-ansiWhite: #fff;
    --pd-terminal-ansiBrightBlack: #c8c8c8;
    --pd-terminal-ansiBrightRed: #e5421d;
    --pd-terminal-ansiBrightGreen: #2b7037;
    --pd-terminal-ansiBrightYellow: #d97706;
    --pd-terminal-ansiBrightBlue: #206ca9;
    --pd-terminal-ansiBrightMagenta: #6d48bf;
    --pd-terminal-ansiBrightCyan: #206ca9;
    --pd-terminal-ansiBrightWhite: #fff;
  }
}
